<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" xml:lang="<%- lang %>"
    lang="<%- lang %>">

<head>
    <title><%= title %></title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
    <h1 class="h1"><%= tocTitle %></h1>
    <nav id="toc" epub:type="toc">
        <ol>
            <% content.forEach(function(c, index){ %>
            <% if(!c.excludeFromToc && c.beforeToc ){ %>
            <li class="table-of-content">
                <a href="<%= c.href %>"><%= (c.title || "Chapter "+ (1+index)) %><% if(c.author.length){ %>
                    - <small class="toc-author"><%= c.author.join(",") %></small><% }%><% if(c.url){ %><span
                        class="toc-link"><%= c.url %></span><% }%></a>
            </li>
            <% } %>
            <% }) %>
            <!-- <li class="table-of-content">
            <a href="toc.xhtml">- <%= tocTitle %> -</a>
        </li> -->
            <% groupBy = null; %>
            <% content.forEach(function(c, index){ %>
                <% if(!c.excludeFromToc && !c.beforeToc){ %>

                    <% if(c.groupBy && c.groupBy == c.title){ %>
                        <% if(groupBy) { %>
                                </ol>
                            </li>
                        <% } %>
                        <li class="table-of-content">
                            <a href="<%= c.href %>"><%= (c.title || "Chapter "+ (1+index)) %><% if(c.author.length){ %>
                                - <small class="toc-author"><%= c.author.join(",") %></small><% }%><% if(c.url){ %><span
                                    class="toc-link"><%= c.url %></span><% }%></a>
                            <ol>
                        <% groupBy = c.groupBy; %>
                    <% } else { %>
                        <li class="table-of-content">
                            <a href="<%= c.href %>"><%= (c.title || "Chapter "+ (1+index)) %><% if(c.author.length){ %>
                                - <small class="toc-author"><%= c.author.join(",") %></small><% }%><% if(c.url){ %><span
                                    class="toc-link"><%= c.url %></span><% }%></a>
                        </li>
                    <% } %>
                <% } %>
            <% }) %>
            <% if(groupBy) { %>
                    </ol>
                </li>
            <% } %>
        </ol>
    </nav>

</body>

</html>